.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 80px;
  min-height: 610px;
  min-width: 100%;
}

.select {
  display: flex;
  flex-direction: column;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}

.circle.rock {
  border: 20px solid hsl(349, 71%, 52%);
  grid-area:auto;
}

.circle.paper {
  border: 20px solid hsl(230, 89%, 62%);
  grid-area: "paper"; 
}

.circle.scissors {
  border: 20px solid hsl(39, 89%, 49%);  
  grid-area: "scissors";
}

.icons {
  height: 80px;
  width: 80px;
}

.results {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 65px;
}

