.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.button {
    color:white;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
    width: 115px;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
    font-weight:600;
    margin: auto 15px auto auto;
}

.game{
    background-color: brown;
    height: 610px;
    width: 100%;
}

.pop {
    position: fixed;
    top: 0;
    bottom: 0;
}